<mat-nav-list class="scrollbar scrollbar-pink bordered-pink">
    <b><p matSubheader style="color: white;background-color: #e77817;">Menu</p></b>

    <!-- <a mat-list-item skipLocationChange routerLink="/dashboard" routerLinkActive="list-item-active"><span class="names">Dashboard</span></a> -->

    <mat-list-item (click)="addExpandClass('Masters')">
      <span class="names">Masters</span>
      <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu === 'Master'}">expand_more</mat-icon>
    </mat-list-item>
    <div class="submenu" *ngIf="showMenu === 'Masters'">
      <a mat-list-item skipLocationChange routerLink="/filterCustomer" routerLinkActive="list-item-active"><span class="names">Customer</span></a>
      <mat-divider></mat-divider>
      <a mat-list-item skipLocationChange routerLink="/counterpartyfilter" routerLinkActive="list-item-active"><span class="names">CounterParty</span></a>
      <a mat-list-item skipLocationChange routerLink="/documentFilter" routerLinkActive="list-item-active"><span class="names">Document</span></a>
      <a mat-list-item skipLocationChange routerLink="/dealsegmentfilter" routerLinkActive="list-item-active"><span class="names">Deal Segment</span></a>
      <a mat-list-item skipLocationChange routerLink="/glaccountview" routerLinkActive="list-item-active"><span class="names">GL Account</span></a>
      <a mat-list-item skipLocationChange routerLink="/filterCountrycode" routerLinkActive="list-item-active"><span class="names">Country Code</span></a>
      <a mat-list-item skipLocationChange routerLink="/filterCurrencycode" routerLinkActive="list-item-active"><span class="names">Currency Code</span></a>
      <a mat-list-item skipLocationChange routerLink="/deletemasters" routerLinkActive="list-item-active"><span class="names">Delete Masters</span></a>
    </div><mat-divider></mat-divider>
    <mat-list-item (click)="addExpandClass('DC')">
        <span class="names">DEAL CREATION</span>
        <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
      </mat-list-item>
      <div class="submenu" *ngIf="showMenu === 'DC'">
        <a mat-list-item skipLocationChange routerLink="/dealInitiation" routerLinkActive="list-item-active"><span class="names">Initiation</span></a>
        <a mat-list-item skipLocationChange routerLink="/dealVerification" routerLinkActive="list-item-active"><span class="names">Verification</span></a>
        <a mat-list-item skipLocationChange routerLink="/accOpening" routerLinkActive="list-item-active"><span class="names">Account Opening</span></a>
        <a mat-list-item skipLocationChange routerLink="/accCib" routerLinkActive="list-item-active"><span class="names">CIB Privileges</span></a>
        <a mat-list-item skipLocationChange routerLink="/deleteDeal" routerLinkActive="list-item-active"><span class="names">Deal Delete</span></a>
        <a mat-list-item skipLocationChange routerLink="/accountBasedInfo" routerLinkActive="list-item-active"><span class="names">Deal Based Rules</span></a>
        <a mat-list-item skipLocationChange routerLink="/DealClosure" routerLinkActive="list-item-active"><span class="names">Deal Closure</span></a>
        <!-- <a mat-list-item skipLocationChange routerLink="/adhocupdatefilter" routerLinkActive="list-item-active"><span class="names">Adhoc Flag Activation</span></a> -->
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('DA')">
          <span class="names">DEAL AMENDMENT</span>
          <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'DA'">
          <a mat-list-item skipLocationChange routerLink="/dealAmendmentFilter" routerLinkActive="list-item-active"><span class="names">Amendment</span></a>
          <a mat-list-item skipLocationChange routerLink="/dealAmendVerification" routerLinkActive="list-item-active"><span class="names">Verification</span></a>
          <a mat-list-item skipLocationChange routerLink="/amendBasedInfo" routerLinkActive="list-item-active"><span class="names">Amend Deal Based Rules</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('RE')">
          <span class="names">RULE ENGINE</span>
          <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'RE'">
          <a mat-list-item skipLocationChange routerLink="/fundingFilter" routerLinkActive="list-item-active"><span class="names">Funding and SI Rule</span></a>
          <a mat-list-item skipLocationChange routerLink="/fixedDepositsFilter" routerLinkActive="list-item-active"><span class="names">Fixed Deposits Rule</span></a>
          <a mat-list-item skipLocationChange routerLink="/amendFundingFilter" routerLinkActive="list-item-active"><span class="names">Amend Funding and SI Rule</span></a>
          <a mat-list-item skipLocationChange routerLink="/amendFixedDepositsFilter" routerLinkActive="list-item-active"><span class="names">Amend Fixed Deposits Rule</span></a>
          <a mat-list-item skipLocationChange routerLink="/siSuspend" routerLinkActive="list-item-active"><span class="names">Suspend SI</span></a>
          <a mat-list-item skipLocationChange routerLink="/adhocAccountFilter" routerLinkActive="list-item-active"><span class="names">Adhoc Account</span></a>
          <mat-list-item (click)="addExpandClass1('SI')">
            <span class="names">SI Reports</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" *ngIf="showMenu1 === 'SI'">
              <a mat-list-item skipLocationChange routerLink="/allReportsSI" routerLinkActive="list-item-active"><span class="names">SI Report</span></a>
              <a mat-list-item skipLocationChange routerLink="/successReports" routerLinkActive="list-item-active"><span class="names">Success Report</span></a>
              <a mat-list-item skipLocationChange routerLink="/si_failure_reports" routerLinkActive="list-item-active"><span class="names">Failure Reports</span></a>
              <a mat-list-item skipLocationChange routerLink="/overDueReports" routerLinkActive="list-item-active"><span class="names">Overdue Reports</span></a>
          </div><mat-divider></mat-divider>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass1('SIR')">
            <span class="names">SI Report Results</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu1 === 'SIR'">
            <a mat-list-item skipLocationChange routerLink="/si_failure_reports" routerLinkActive="list-item-active"><span class="names">SI Failure Reports</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('PM')">
            <span class="names">PAYMENT</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'PM'">
            <a mat-list-item skipLocationChange routerLink="/unitaryPaymentFilter" routerLinkActive="list-item-active"><span class="names">Unitary Payment</span></a>
            <a mat-list-item skipLocationChange routerLink="/paymentverifyFilter" routerLinkActive="list-item-active"><span class="names">Verification - Bank</span></a>
            <a mat-list-item skipLocationChange routerLink="/customerpaymentverifyFilter" routerLinkActive="list-item-active"><span class="names">Verification - Customer</span></a>
            <a mat-list-item skipLocationChange routerLink="/investmentDetailFilter" routerLinkActive="list-item-active"><span class="names">Investment Details</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('CNT')">
            <span class="names">CUST NON_TRANSACTION</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'CNT'">
          <a mat-list-item skipLocationChange routerLink="/FilterEventDefaultView" routerLinkActive="list-item-active"><span class="names">Event Of Default View</span></a>
          <a mat-list-item skipLocationChange routerLink="/FilterReraDView" routerLinkActive="list-item-active"><span class="names">Certification View</span></a>
        </div><mat-divider></mat-divider>
        <a mat-list-item skipLocationChange routerLink="/workflowTat" routerLinkActive="list-item-active"><span class="names">Workflow / TAT</span></a>
        <mat-list-item (click)="addExpandClass('CA')">
            <span class="names">CUSTOMER ACCESS</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'CA'">
          <mat-list-item (click)="addExpandClass1('MP')">
              <span class="names">Make Payments</span>
              <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
          </mat-list-item>
          <div class="submenu" *ngIf="showMenu1 === 'MP'">
              <a mat-list-item skipLocationChange routerLink="/createPaymentCustomerFilter" routerLinkActive="list-item-active"><span class="names">Create</span></a>
              <a mat-list-item skipLocationChange routerLink="/updateCustPaymentFilter" routerLinkActive="list-item-active"><span class="names">Update</span></a>
              <a mat-list-item skipLocationChange routerLink="/approveCustPaymentFilter" routerLinkActive="list-item-active"><span class="names">Approve</span></a>
          </div><mat-divider></mat-divider>
          <a mat-list-item skipLocationChange routerLink="/viewDeals" routerLinkActive="list-item-active"><span class="names">View Deal</span></a>
          <a mat-list-item skipLocationChange routerLink="/FilterEventDefault" routerLinkActive="list-item-active"><span class="names">Event Of Default</span></a>
          <a mat-list-item skipLocationChange routerLink="/FilterReraD" routerLinkActive="list-item-active"><span class="names">Certification</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('FE')">
            <span class="names">FEES</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'FE'">
            <a mat-list-item skipLocationChange routerLink="/fees" routerLinkActive="list-item-active"><span class="names">Create & Update</span></a>
            <a mat-list-item skipLocationChange routerLink="/feesMap" routerLinkActive="list-item-active"><span class="names">Fee Mapping</span></a>
        </div><mat-divider></mat-divider>
        <a mat-list-item skipLocationChange routerLink="/ReferenceNumber" routerLinkActive="list-item-active"><span class="names">REFERENCE NUMBER</span></a>
        <a mat-list-item skipLocationChange routerLink="/globalParameter" routerLinkActive="list-item-active"><span class="names">GLOBAL PARAMETERS</span></a>
        <a mat-list-item skipLocationChange routerLink="/filterpaymentypep" routerLinkActive="list-item-active"><span class="names">PAYMENT TYPE PARAMETER</span></a>
        <a mat-list-item skipLocationChange routerLink="/myBankProfile" routerLinkActive="list-item-active"><span class="names">MY BANK PROFILE</span></a>
        <a mat-list-item skipLocationChange routerLink="/branchProfile" routerLinkActive="list-item-active"><span class="names">BRANCH PROFILE</span></a>
        <mat-list-item (click)="addExpandClass('RS')">
            <span class="names">REPORTS</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'RS'">
            <a mat-list-item skipLocationChange routerLink="/report" routerLinkActive="list-item-active"><span class="names">Create Report</span></a>
            <a mat-list-item skipLocationChange routerLink="/generatereports" routerLinkActive="list-item-active"><span class="names">Generate
              Report</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('BPU')">
            <span class="names">BULK PAYMENT UPLOAD</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'BPU'">
            <a mat-list-item skipLocationChange routerLink="/bulkPayment" routerLinkActive="list-item-active"><span class="names">Payment Upload</span></a>
            <a mat-list-item skipLocationChange routerLink="/Failedbulkpay" routerLinkActive="list-item-active"><span class="names">View Failed Records</span></a>
            <a mat-list-item skipLocationChange routerLink="/varifybulkpay" routerLinkActive="list-item-active"><span class="names">Verification Bulk Upload</span></a>
            <a mat-list-item skipLocationChange routerLink="/verifyCustBulkPay" routerLinkActive="list-item-active"><span class="names">Customer Verification</span></a>
            <a mat-list-item skipLocationChange routerLink="/bulkPaymentview" routerLinkActive="list-item-active"><span class="names">View Upload</span></a>
            <a mat-list-item skipLocationChange routerLink="/collectionsUpload" routerLinkActive="list-item-active"><span class="names">Collections Upload</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('CR')">
            <span class="names">CALENDAR</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'CR'">
            <a mat-list-item skipLocationChange routerLink="/globalCalendar" routerLinkActive="list-item-active"><span class="names">Global Calendar</span></a>
            <a mat-list-item skipLocationChange routerLink="/branchCalendar" routerLinkActive="list-item-active"><span class="names">Branch Calendar</span></a>
            <mat-list-item (click)="addExpandClass1('VH')">
                <span class="names">View Holidays</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu1 === 'VH'">
                <a mat-list-item skipLocationChange routerLink="/viewglobalCalendar" routerLinkActive="list-item-active"><span class="names">View Global</span></a>
                <a mat-list-item skipLocationChange routerLink="/viewbranchCalendar" routerLinkActive="list-item-active"><span class="names">View Branch</span></a>
            </div><mat-divider></mat-divider>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('CBU')">
            <span class="names">CUST BULK UPLOAD</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'CBU'">
            <a mat-list-item skipLocationChange routerLink="/custFailedbulkpay" routerLinkActive="list-item-active"><span class="names">Cust Payment Upload</span></a>
            <a mat-list-item skipLocationChange routerLink="/custFailedbulkpay" routerLinkActive="list-item-active"><span class="names">Cust View Failed Records</span></a>
            <a mat-list-item skipLocationChange routerLink="/custvarifybulkpay" routerLinkActive="list-item-active"><span class="names">Cust Verify Bulk Upload</span></a>
            <a mat-list-item skipLocationChange routerLink="/custbulkPaymentview" routerLinkActive="list-item-active"><span class="names">Cust View Upload</span></a>
        </div><mat-divider></mat-divider>
        <a mat-list-item skipLocationChange routerLink="/advices" routerLinkActive="list-item-active"><span class="names">ADVICES</span></a>
        <a mat-list-item skipLocationChange routerLink="/smsTemplate" routerLinkActive="list-item-active"><span class="names">SMS TEMPLATE</span></a>
        <a mat-list-item skipLocationChange routerLink="/authorizationMatrix" routerLinkActive="list-item-active"><span class="names">AUTHORIZATION MATRIX</span></a>
        <mat-list-item (click)="addExpandClass('UM')">
            <span class="names">USER MANAGEMENT</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'UM'">
            <mat-list-item (click)="addExpandClass1('US')">
                <span class="names">USER</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu1 === 'US'">
              <a mat-list-item skipLocationChange routerLink="/createUser" routerLinkActive="list-item-active"><span class="names">Create</span></a>
              <a mat-list-item skipLocationChange routerLink="/viewUserFilter" routerLinkActive="list-item-active"><span class="names">View</span></a>
            </div><mat-divider></mat-divider>
            <mat-list-item (click)="addExpandClass2('RL')">
                <span class="names">Role</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu2}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu2 === 'RL'">
                <a mat-list-item skipLocationChange routerLink="/createRole" routerLinkActive="list-item-active"><span class="names">Create</span></a>
                <a mat-list-item skipLocationChange routerLink="/appendRoleFilter" routerLinkActive="list-item-active"><span class="names">Append</span></a>
                <a mat-list-item skipLocationChange routerLink="/removeRoleFilter" routerLinkActive="list-item-active"><span class="names">Remove</span></a>
                <a mat-list-item skipLocationChange routerLink="/viewRoleFilter" routerLinkActive="list-item-active"><span class="names">View</span></a>
                <a mat-list-item skipLocationChange routerLink="/assignRoleFilter" routerLinkActive="list-item-active"><span class="names">Assign</span></a>
            </div><mat-divider></mat-divider>
            <a mat-list-item skipLocationChange routerLink="/ReleasePaymentsLocked" routerLinkActive="list-item-active"><span class="names">Release Payment Lock</span></a>
            <a mat-list-item skipLocationChange routerLink="/myProfile" routerLinkActive="list-item-active"><span class="names">My Profile</span></a>
            <a mat-list-item skipLocationChange routerLink="/changePassword" routerLinkActive="list-item-active"><span class="names">Change Password</span></a>
            <a mat-list-item skipLocationChange routerLink="/ReleaseLocked" routerLinkActive="list-item-active"><span class="names">Release Locked User</span></a>
        </div><mat-divider></mat-divider>
        <mat-list-item (click)="addExpandClass('CUM')">
            <span class="names">CUST USER MGMT</span>
            <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu}">expand_more</mat-icon>
        </mat-list-item>
        <div class="submenu" *ngIf="showMenu === 'CUM'">
            <mat-list-item (click)="addExpandClass1('CUS')">
                <span class="names">USER</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu1}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu1 === 'CUS'">
                <a mat-list-item skipLocationChange routerLink="/createCustUser" routerLinkActive="list-item-active"><span class="names">Create</span></a>
                <a mat-list-item skipLocationChange routerLink="/viewCustUserFilter" routerLinkActive="list-item-active"><span class="names">View & Update</span></a>
            </div><mat-divider></mat-divider>
            <mat-list-item (click)="addExpandClass2('CRL')">
                <span class="names">Role</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu2}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu2 === 'CRL'">
                <a mat-list-item skipLocationChange routerLink="/createCustRole" routerLinkActive="list-item-active"><span class="names">Create</span></a>
                <a mat-list-item skipLocationChange routerLink="/custAppendRoleFilter" routerLinkActive="list-item-active"><span class="names">Append</span></a>
                <a mat-list-item skipLocationChange routerLink="/custRemoveRoleFilter" routerLinkActive="list-item-active"><span class="names">Remove</span></a>
                <a mat-list-item skipLocationChange routerLink="/viewCustRoleFilter" routerLinkActive="list-item-active"><span class="names">View/Delete</span></a>
            </div><mat-divider></mat-divider>
            <mat-list-item (click)="addExpandClass3('MD')">
                <span class="names">MAP DEALS</span>
                <mat-icon class="menu-button white-icon" [ngClass]="{'rotated' : showMenu3}">expand_more</mat-icon>
            </mat-list-item>
            <div class="submenu" *ngIf="showMenu3 === 'MD'">
                <a mat-list-item skipLocationChange routerLink="/createMapDealAndAccNum" routerLinkActive="list-item-active"><span class="names">Create</span></a>
                <a mat-list-item skipLocationChange routerLink="/updateAvailableMapDealAndAccNum" routerLinkActive="list-item-active"><span class="names">Append</span></a>
                <a mat-list-item skipLocationChange routerLink="/removeUpdateMapDealAndAccNum" routerLinkActive="list-item-active"><span class="names">Remove</span></a>
                <a mat-list-item skipLocationChange routerLink="/viewUpdateMapDealAndAccNum" routerLinkActive="list-item-active"><span class="names">View/Review/Approve</span></a>
            </div><mat-divider></mat-divider>
        </div><mat-divider></mat-divider>
        <a mat-list-item skipLocationChange routerLink="/flowDisplay" routerLinkActive="list-item-active"><span class="names">TRANSACTION HISTORY</span></a>
        <a mat-list-item skipLocationChange routerLink="/viewCustPaymentFilter" routerLinkActive="list-item-active"><span class="names">TRANSACTION HISTORY</span></a>
        <a mat-list-item skipLocationChange routerLink="/myProfile" routerLinkActive="list-item-active"><span class="names">MY PROFILE</span></a>
        <a mat-list-item skipLocationChange routerLink="/custidservices" routerLinkActive="list-item-active"><span class="names">CUSTID SERVICES</span></a>
  </mat-nav-list>
