.names {
  color: white
}

.mat-list-item:hover {
  background-color: #e77817;
}

.mat-list-item a.list-item-active {
  background: #e77817;
}

.white-icon {
  color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
  fill: white;
}
