<mat-toolbar class="toolbar">
  <mat-toolbar-row>
    <!-- <button mat-icon-button (click)="toggleSideBar()">
      <mat-icon class="nb-icon">menu</mat-icon>
    </button> -->

    <span routerLink="/dashboard" skipLocationChange style="color: #F2AD2E;cursor: pointer;">VIRTUA</span>

    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
      <ul fxLayout="row" fxLayoutGap="20px">
        <!-- <li>
          <button mat-icon-button>
            <mat-icon>settings</mat-icon>
          </button>
        </li> -->
        <li>
          <button mat-button [matMenuTriggerFor]="menu">
            <mat-icon>person_outline</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="logout()">
              <mat-icon>exit_to_app</mat-icon>
              Log out
            </button>
          </mat-menu>
        </li>
        <li>
            <span style="color: #F2AD2E;">Date: {{today}}</span>
        </li>
      </ul>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
