<!-- <p>dashboard works!</p> -->

<div fxLayout="row" fxFlex="500" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <!-- <mat-card fxFlex="50"> -->
      <div class="example-container mat-elevation-z8">
          <table mat-table [dataSource]="dataSource">

            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <th mat-header-cell *matHeaderCellDef> No. </th>
              <td mat-cell *matCellDef="let element"> {{element.position}} </td>
            </ng-container>

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Weight Column -->
            <ng-container matColumnDef="weight">
              <th mat-header-cell *matHeaderCellDef> Weight </th>
              <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
            </ng-container>

            <!-- Symbol Column -->
            <ng-container matColumnDef="symbol">
              <th mat-header-cell *matHeaderCellDef> Symbol </th>
              <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    <!-- </mat-card> -->
    <!-- <mat-card fxFlex="50"> -->
        <!-- <app-widget-card label="Users engagement" total="8k" percentage="30" [data]="cards"></app-widget-card> -->

        <!-- <app-widget-card label="Referral" total="6k" percentage="20" [data]="cards"></app-widget-card> -->
    <!-- </mat-card> -->
</div>

<br>

<mat-divider></mat-divider>
