canvas {
    border: 1px solid #000;
    left: 0px;
    top: 0px;
    width: 100%;
  }

  #mydiv {
    position: absolute;
    z-index: 9;
    background-color: #f1f1f1;
    border: 1px solid #d3d3d3;
    text-align: center;
    width: 280px;
  }
  
  #mydivheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #F2AD2E;
    color: #fff;
  }

  table {  
    font-family: Helvetica, Arial, sans-serif; /* Nicer font */
    /* width: 40%;  */
    border-collapse: 
    collapse; border-spacing: 0; 
  }
  
  tr, th { border: 1px solid; height: 30px; }
  
  th {  
    background: #fff;
    font-weight: bold; /* Make sure they're bold */
  }
  
  td {  
    background: #fff;
    text-align: center; /* Center our text */
  }
  
  .img {
    cursor: pointer;
  }

  #div1, #div2 {
    float: left;
    width: 100px;
    height: 35px;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}