<h3>Drawing Tool</h3>
<!-- Draggable DIV -->
<div id="mydiv">
        <div id="mydivheader" style="width: 280px;">Move Palette</div>
        <table class="md-table">
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image267.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Floor</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image269.png" class="img" (click)="onSelectFile($event)"></td>
              <td>stairs</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image271.png" class="img" (click)="onSelectFile($event)"></td>
              <td>lift</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image273.png" class="img" (click)="onSelectFile($event)"></td>
              <td>internal door</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image273.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Fire door exit</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image277_d.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Riser/intake</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image336.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Drill Point</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image338.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Hazard</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image340.png" class="img" (click)="onSelectFile($event)"></td>
              <td>New Trunking</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image342.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Existing Trunking</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image344.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Customer Door</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image041.png" class="img" (click)="onSelectFile($event)"></td>
              <td>2 F Cable</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image347.png" class="img" (click)="onSelectFile($event)"></td>
              <td>12 F Cable</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image359.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Locked Box</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image361.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Customer Terminaion point</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image363.png" class="img" (click)="onSelectFile($event)"></td>
              <td>Fibre DP</td>
           </tr>
           <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><img src="../../../assets/drawingtoolimages/image364.png" class="img" (click)="onSelectFile($event)"></td>
              <td>1 x 32 FDP</td>
           </tr>
          <tr>
              <td style="padding-top: 5px;padding-bottom: 5px;"><button (click)="clickForText()">Write some Text</button></td>
              <td>Text</td>
          </tr>
        </table>
     </div>

<!-- <p>drawingpage works!</p> -->
<input type="file" name="" id="span" (change)="onSelectFile($event)">
<a id="download" onclick="var download = document.getElementById('download'); download.href = document.getElementById('canvas').toDataURL();download.download='imageName.jpeg'">Save Canvas Image</a>
<canvas id="canvas"></canvas>