<div id="container">
    <button class="button" (click)="projectDetails()">Project Details</button>
    <button class="button" (click)="canvasPage()">Drawing Tool</button>
    <button class="button" (click)="openDialog()">Virtua 1</button>
</div>