button{
    font-size: 40px;
    padding: 10px;
    border-radius: 10px;
    margin: 20px;
    cursor: pointer;
}

#container{
    /* text-align: center; */
    position: absolute;
    top: 40%;
    left: 30%;
}