<mat-divider></mat-divider>
<footer>
    <!-- <span><img mat-card-image class="fintralogo" src="../../../../assets/FINTRA_LOGO.jpg"
      alt="Fintra Logo"></span> -->
  &copy; All rights reserved 2020
</footer>
