<app-header  (toggleSideBarForMe)="sideBarToggler($event)"></app-header>

<mat-drawer-container>
  <!-- <mat-drawer style="color: white;background-color: #053c6d;" mode="side" [opened]="sideBarOpen"> -->
    <!-- <app-sidebar></app-sidebar> -->
  <!-- </mat-drawer> -->
  <mat-drawer-content>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>

<app-footer></app-footer>
