:host {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #edf1f7;
}

mat-drawer {
  width: 350px;
}

mat-drawer-container {
  height: 100%;
}

mat-drawer-content {
  padding: 20px;
}
