<mat-card>
        <div class="row">
                <a routerLink="/dashboard/projectDetails/viewpage" skipLocationChange><button class="btn btn-maroon-color " (click)="customerView('create','Confirm')">Create New</button></a>
        </div>
        <div class="row"></div>
        <div class="row">
              <mat-form-field>
                <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter">
              </mat-form-field>
              <div class="table table-striped toWide z-depth-1">
                <mat-table [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="projectId">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> Project ID </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass] = "element.projectId == selectedName ? 'status-code-success': white" (click)="highlightRow(element)"> {{element.projectId}} </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="cityFibreId">
                      <mat-header-cell *matHeaderCellDef mat-sort-header> City Fibre ID </mat-header-cell>
                      <mat-cell *matCellDef="let element" [ngClass] = "element.projectId == selectedName ? 'status-code-success': white" (click)="highlightRow(element)"> {{element.cityFibreId}} </mat-cell>
                    </ng-container>
    
                    <ng-container matColumnDef="secondaryNodeId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Secondary Node ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass] = "element.projectId == selectedName ? 'status-code-success': white" (click)="highlightRow(element)"> {{element.secondaryNodeId}} </mat-cell>
                      </ng-container>
    
                      <ng-container matColumnDef="locationId">
                        <mat-header-cell *matHeaderCellDef mat-sort-header> Location ID </mat-header-cell>
                        <mat-cell *matCellDef="let element" [ngClass] = "element.projectId == selectedName ? 'status-code-success': white" (click)="highlightRow(element)"> {{element.locationId}} </mat-cell>
                      </ng-container>
    
                      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    
                </mat-table>
              </div>
              <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons></mat-paginator>
        </div>
    
        <div class="row">
            <div class="col-md-3">
                <a routerLink="/dashboard/projectDetails/viewpage" skipLocationChange><button [disabled]="selectedItem === null || (selectedItem.trxnStatus !== 'Incomplete' && selectedItem.trxnStatus !== 'Clarification' && selectedItem.trxnStatus !== 'Approved')" class="btn btn-maroon-color" (click)="customerView('update', 'Confirm')" style="width:100px;">Update</button></a>
            </div>
            <div class="col-md-3">
                <a routerLink="/dashboard/projectDetails/viewpage" skipLocationChange><button [disabled]="selectedItem === null || selectedItem.trxnStatus !== 'Confirm'" class="btn btn-maroon-color" (click)="customerView('review', 'confirmReviewed')" style="width:100px;">Review</button></a>
            </div>
            <div class="col-md-3">
                <a routerLink="/dashboard/projectDetails/viewpage" skipLocationChange><button [disabled]="selectedItem === null || selectedItem.trxnStatus !== 'Reviewed'" class="btn btn-maroon-color" (click)="customerView('approve', 'confirmApproved')" style="width:100px;">Approve</button></a>
            </div>
            <div class="col-md-3">
                <a routerLink="/dashboard/projectDetails/viewpage" skipLocationChange><button [disabled]="selectedItem.trxnStatus === undefined" class="btn btn-maroon-color" (click)="customerView('enquiry','')" style="width:100px;">View</button></a>
            </div>
        </div>
    </mat-card>
    <router-outlet></router-outlet>
    