<!-- <p>TTTTTTTTTTTTTTTTTTVBBBBBBBBBBBBBBBBBBBBBBB</p> -->
<!-- <div fxLayoutAlign="center center" fxLayout="column">

    <mat-vertical-stepper [linear]="true" #stepper>
      
    </mat-vertical-stepper>
  
  </div> -->

  <mat-horizontal-stepper  #stepper *ngIf="!showMsg">
      <mat-step>
         <!-- <form> -->
            <ng-template matStepLabel>Basic Details</ng-template>
            <form name="FORM1">
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label class="active">Project ID</label>
                      <input type="text" class="form-control" id="projectId" name="projectId" [(ngModel)]="projectData.projectId">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label class="active">City Fibre ID</label>
                      <input type="text" class="form-control" id="cityFibreId" name="cityFibreId" [(ngModel)]="projectData.cityFibreId">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label class="active">Secondary Node ID</label>
                      <input type="text" class="form-control" id="secondaryNodeId" name="secondaryNodeId" [(ngModel)]="projectData.secondaryNodeId">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="md-form form-group">
                      <label class="active">Location ID</label>
                      <input type="text" class="form-control" id="locationId" name="locationId" [(ngModel)]="projectData.locationId">
                    </div>
                  </div>
                </div>
                <div class="form-row">
                    <div class="col-md-6">
                      <div class="md-form form-group">
                        <label class="active">UPRN</label>
                        <input type="text" class="form-control" id="UPRN" name="UPRN" [(ngModel)]="projectData.UPRN">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="md-form form-group">
                        <label class="active">THP</label>
                        <input type="text" class="form-control" id="THP" name="THP" [(ngModel)]="projectData.THP">
                      </div>
                    </div>
                  </div>
                  <div class="form-row">
                      <div class="col-md-6">
                        <div class="md-form form-group">
                          <label class="active">External Feed Design</label>
                          <input type="text" class="form-control" id="extFeedDesign" name="extFeedDesign" [(ngModel)]="projectData.extFeedDesign">
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="md-form form-group">
                          <label class="active">Network Design</label>
                          <input type="text" class="form-control" id="networkDesign" name="networkDesign" [(ngModel)]="projectData.networkDesign">
                        </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Version Control</label>
                          <input type="text" class="form-control" id="v1Survey" name="v1Survey" [(ngModel)]="projectData.v1Survey" readonly>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Date</label>
                          <input type="text" class="form-control" id="v1SurveyDate" name="v1SurveyDate" [(ngModel)]="projectData.v1SurveyDate">
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="md-form form-group">
                            <label class="active">Name</label>
                            <input type="text" class="form-control" id="v1SurveyName" name="v1SurveyName" [(ngModel)]="projectData.v1SurveyName">
                          </div>
                      </div>
                      <div class="col-md-3">
                            <div class="md-form form-group">
                              <label class="active">Number</label>
                              <input type="text" class="form-control" id="v1SurveyNumber" name="v1SurveyNumber" [(ngModel)]="projectData.v1SurveyNumber">
                            </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Version Control</label>
                          <input type="text" class="form-control" id="v2Build" name="v2Build" [(ngModel)]="projectData.v2Build" readonly>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Date</label>
                          <input type="text" class="form-control" id="v2BuildDate" name="v2BuildDate" [(ngModel)]="projectData.v2BuildDate">
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="md-form form-group">
                            <label class="active">Name</label>
                            <input type="text" class="form-control" id="v2BuildName" name="v2BuildName" [(ngModel)]="projectData.v2BuildName">
                          </div>
                      </div>
                      <div class="col-md-3">
                            <div class="md-form form-group">
                              <label class="active">Number</label>
                              <input type="text" class="form-control" id="v2BuildNumber" name="v2BuildNumber" [(ngModel)]="projectData.v2BuildNumber">
                            </div>
                      </div>
                  </div>
                  <div class="form-row">
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Version Control</label>
                          <input type="text" class="form-control" id="v3RedLight" name="v3RedLight" [(ngModel)]="projectData.v3RedLight" readonly>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="md-form form-group">
                          <label class="active">Date</label>
                          <input type="text" class="form-control" id="v3RedLightDate" name="v3RedLightDate" [(ngModel)]="projectData.v3RedLightDate">
                        </div>
                      </div>
                      <div class="col-md-3">
                          <div class="md-form form-group">
                            <label class="active">Name</label>
                            <input type="text" class="form-control" id="v3RedLightName" name="v3RedLightName" [(ngModel)]="projectData.v3RedLightName">
                          </div>
                      </div>
                      <div class="col-md-3">
                            <div class="md-form form-group">
                              <label class="active">Number</label>
                              <input type="text" class="form-control" id="v3RedLightNumber" name="v3RedLightNumber" [(ngModel)]="projectData.v3RedLightNumber">
                            </div>
                      </div>
                  </div>
                  <!-- <button mat-raised-button color="primary" (click)="SaveAndProceed(projectData)" *ngIf="this.transactionMode === 'create' || this.transactionMode === 'update'" skipLocationChange>Save and Proceed</button>
                  <button mat-raised-button color="primary" (click)="nextPage()" *ngIf="this.transactionMode === 'view'" skipLocationChange>Next</button>
                  <button mat-raised-button color="primary" routerLink="/testPage" skipLocationChange>Cancel</button> -->
              </form>
            <div>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
         <!-- </form> -->
      </mat-step>
      <mat-step>
         <form name="FORM2">
            <ng-template matStepLabel>Site Overview</ng-template>
            <div class="example-container mat-elevation-z8">                  
                <mat-table #table [dataSource]="dataSource">
              
                  <!-- Position Column -->
                  <ng-container matColumnDef="unit">
                    <mat-header-cell *matHeaderCellDef> Unit </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.unit}} </mat-cell>
                  </ng-container>
              
                  <!-- Name Column -->
                  <ng-container matColumnDef="flatNo">
                      <mat-header-cell *matHeaderCellDef> Flat No </mat-header-cell>
                      <mat-cell *matCellDef="let element"> {{element.flatNo}} </mat-cell>
                    </ng-container>
              
                  <!-- Weight Column -->
                  <ng-container matColumnDef="routing">
                    <mat-header-cell *matHeaderCellDef> Routing </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.routing}} </mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="duct">
                    <mat-header-cell *matHeaderCellDef> Duct </mat-header-cell>
                    <mat-cell *matCellDef="let element">
                      <!-- <mat-form-field floatLabel="never"> -->
                        <input type="text" class="form-control" [value]="element.duct" [(ngModel)]="element.duct" name="duct">
                      <!-- </mat-form-field> -->
                    </mat-cell>
                  </ng-container>
              
                  <!-- Symbol Column -->
                  <ng-container matColumnDef="cable">
                      <mat-header-cell *matHeaderCellDef> Cable </mat-header-cell>
                      <mat-cell *matCellDef="let element">
                        <!-- <mat-form-field floatLabel="never"> -->
                          <input type="text" class="form-control" [value]="element.cable" [(ngModel)]="element.cable" name="cable">
                        <!-- </mat-form-field> -->
                      </mat-cell>
                    </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
                <br>
                <!-- <button mat-raised-button color="primary" (click)="SaveAndProceed(projectData)" *ngIf="this.transactionMode === 'create' || this.transactionMode === 'update'" skipLocationChange>Save and Proceed</button>
                <button mat-raised-button color="primary" (click)="nextPage()" *ngIf="this.transactionMode === 'view'" skipLocationChange>Next</button>
                <button mat-raised-button color="primary" routerLink="/testPage" skipLocationChange>Cancel</button> -->
              <!-- </div>
            <div> -->
              <button mat-raised-button color="primary" matStepperPrevious>Back</button>
              <button mat-raised-button color="primary" matStepperNext>Next</button>
            </div>
         </form>
      </mat-step>
      <mat-step>
          <ng-template matStepLabel>Image uploads</ng-template>
          <div class="form-group">
              <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Image 1:</label>
              <div class="col-lg-7 col-sm-5 col-xs-12">
                  <input #fileInput type="file" class="form-control custom-form-control" accept='image/*' (change)="uploadFile1($event)" id="image1" name="image1" />
                  <img class="image" [src]="imageUrl" *ngIf="imageUrl">
                  <div *ngIf="mandatoryImage1" style="color:red;"> Image is Required. </div>
              </div>
          </div>
          <div class="form-group">
            <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Image 2:</label>
            <div class="col-lg-7 col-sm-5 col-xs-12">
                <input #fileInput type="file" class="form-control custom-form-control" accept='image/*' (change)="uploadFile2($event)" id="image2" name="image2" />
                <img class="image" [src]="imageUrl2" *ngIf="imageUrl2">
                <div *ngIf="mandatoryImage1" style="color:red;"> Image is Required. </div>
            </div>
        </div>
        <div class="form-group">
          <label class="col-lg-5 col-sm-5 col-xs-12 labelHeight">Image 3:</label>
          <div class="col-lg-7 col-sm-5 col-xs-12">
              <input #fileInput type="file" class="form-control custom-form-control" accept='image/*' (change)="uploadFile3($event)" id="image3" name="image3"/>
              <img class="image" [src]="imageUrl3" *ngIf="imageUrl3">
              <div *ngIf="mandatoryImage1" style="color:red;"> Image is Required. </div>
          </div>
        </div>
         <div>
            <button mat-raised-button color="primary" matStepperPrevious>Back</button>
            <button mat-raised-button color="primary" (click)="finish(projectData)" *ngIf="this.transactionMode === 'create' || this.transactionMode === 'update'">Finish</button>
            <button mat-raised-button color="primary" (click)="generatePdf(projectData)" *ngIf="this.transactionMode !== 'create' && this.transactionMode !== 'update'">Open PDF</button>
         </div>
      </mat-step>
   </mat-horizontal-stepper>

   <div class="row"  *ngIf="showMsg">
      <div class="col-xs-12">
        <p class="alert alert-success">
            <strong>Registration Success!</strong> Please click here to login!.

        </p>
      </div>
    </div>