.example-fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .example-card {
   /* max-width: 60%;
   max-height: 250%;
   max-block-size: 95%;
   margin-left: 20%;
   margin-right: 10%;
   margin-bottom: 0.5%; */
 }
 
 .example-header-image {
   background-size: cover;
 }

 .example-form {
  /* min-width: 60%;
  max-width: 100%;
  width: 100%; */
}

.example-full-width {
  width: 100%;
}
.aaa{
  width: 50%;
}
td {
  padding-right: 8px;
}

.example-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}
.ssss{
  margin-right: 20%;
}
.example-button-row button {
  margin-right: 8px;
}
.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li>a:hover {
  box-shadow: red;
}
.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
  border-color: #ddd transparent #ddd #ddd;
  /**border-right-color: #ffffff;*/
  background: green;
  box-shadow: 1px 15px 10px -17px gray !important;
}
.filter-hover-row1:hover {
  background: #7476e9 !important;
  color: black;
}
.filter-selected-row1 {
  background: #9ea0f0 !important;
  color: black;
}
.image {
  width: 190px;
  height: 170px;
}

.link { 
  color: #fff;
  text-decoration: none;
 }

 mat-cell:focus {
    background: tomato;
    outline: none;
  }
  mat-cell.highlight {
    color: green; 
  }

  .status-code-success{
    flex: 0 0 10% !important;
    width: 10% !important;
    background: #F2AD2E;
    color: white;
}

.success-dialog {
    background-color: #F2AD2E;
}