<!-- <mat-card>
    <div class="row">
            <a routerLink="/filterCustomer/customercreate" skipLocationChange><button class="btn btn-maroon-color " (click)="customerView('create','Confirm')">Create New</button></a>
    </div>
    <div class="row"></div>
    <div class="row">
          <mat-form-field>
            <input (keyup)="applyFilter($event.target.value)" matInput placeholder="Filter" >
          </mat-form-field>
          <div class="table table-striped toWide z-depth-1">
            <mat-table [dataSource]="dataSource" matSort>
                <ng-container matColumnDef="customerId">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Id </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.customerId}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="customerName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Customer Name </mat-header-cell>
                  <mat-cell *matCellDef="let element"> {{element.customerName}} </mat-cell>
                </ng-container>

                <ng-container matColumnDef="borrowerAccountNumber">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Borrower Account Num </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.borrowerAccountNumber}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="trxnStatus">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Trxn Status </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.trxnStatus}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="lastUpdated">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Last Updated </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.lastUpdated}} </mat-cell>
                  </ng-container>

                  <ng-container matColumnDef="userId">
                    <mat-header-cell *matHeaderCellDef mat-sort-header> Initiator Id </mat-header-cell>
                    <mat-cell *matCellDef="let element"> {{element.userId}} </mat-cell>
                  </ng-container>

                  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

            </mat-table>
          </div>
          <mat-paginator [pageSizeOptions]="[10, 20, 30]" [pageSize]="10" showFirstLastButtons></mat-paginator>
    </div>

    <div class="row">
        <div class="col-md-3">
            <a routerLink="/filterCustomer/customercreate" skipLocationChange><button [disabled]="selectedItem === null || (selectedItem.trxnStatus !== 'Incomplete' && selectedItem.trxnStatus !== 'Clarification' && selectedItem.trxnStatus !== 'Approved')" class="btn btn-maroon-color" (click)="customerView('update', 'Confirm')" style="width:100px;">Update</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/filterCustomer/customercreate" skipLocationChange><button [disabled]="selectedItem === null || selectedItem.trxnStatus !== 'Confirm'" class="btn btn-maroon-color" (click)="customerView('review', 'confirmReviewed')" style="width:100px;">Review</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/filterCustomer/customercreate" skipLocationChange><button [disabled]="selectedItem === null || selectedItem.trxnStatus !== 'Reviewed'" class="btn btn-maroon-color" (click)="customerView('approve', 'confirmApproved')" style="width:100px;">Approve</button></a>
        </div>
        <div class="col-md-3">
            <a routerLink="/filterCustomer/customercreate" skipLocationChange><button [disabled]="selectedItem.trxnStatus === undefined" class="btn btn-maroon-color" (click)="customerView('enquiry','')" style="width:100px;">View</button></a>
        </div>
    </div>
</mat-card>
<router-outlet></router-outlet> -->
