* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.div1 {
  background-color: #fff;
}

mat-form-field {
  width: 50%;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #053c6d;
}

a {
  color: #053c6d;
}

.editor-label {
  float: left;
  width: 200px;
}

.editor-field {
  margin-left:200px;
}

.editor-field input {
  width: 100%;
}

main {
  width: 100%;
  margin: 50px auto;
  border:1px solid grey;
  display: grid;
}
/* .column-layout {
  max-width: 1300px;
  background-color: #fff;
  margin: 40px auto 0 auto;
  line-height: 1.65;
} */

/* .container {
  width: 100%;
  height: 500px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
} */
