<section class="login-form">
    <form name="loginForm">
        <div class="box">
            <div class="img">
                <img src="../../../assets/virtua.png" alt="user"/>
            </div>
            <div class="heading">
                <h4>Login</h4>
            </div>
            <div class="form-field">
                <div class="input-box">
                    <input type="text" placeholder="Your Username" [(ngModel)]="loginDetails.userID" name="userID" required class="form-control">
                    <span><img src="../../../assets/user-512.png"/></span>
                </div>
                <div class="input-box">
                    <input type="password" placeholder="Your Password" class="form-control" [(ngModel)]="loginDetails.password" name="password" required>
                    <span><img src="../../../assets/Asset_9-2-512.png"/></span>
                </div>
                <div class="errormsg">
                    <span *ngIf="loginMessage" class="loginmessage">{{loginData}}</span>
                </div>
                <div class="button-box">
                    <button (click)="loginPage(loginDetails)">Login</button>
                    <a href="#">Forgot Password?</a>
                </div>
            </div>
            <div class="social-links"></div>
        </div>
    </form>
</section>