body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    height: 100%;

}

* {
    box-sizing: border-box;
    outline: none!important;
    text-decoration: none!important;
}

.login-form {
    height: 100%;
    background-color: #F2AD2E;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-form .box {
    min-width: 400px;
    min-height: 400px;
    background-color: #ffffff;
    /* box-shadow: 0px 0px 10px #cccccc; */
    padding: 40px;
    display: flex;
    flex-direction: column;
}

.login-form .box .img img{
    width: 80px;
    display: block;
    margin: auto;
}

.login-form .box .heading h4{
    color: #F2AD2E;
    font-size: 22px;
    text-align: left;
    margin: 15px 1px 10px;
    border-bottom: 1px solid;
    padding-bottom: 3px;
    display: inline-block;
}

.login-form .box .form-field{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.login-form .box .form-field .input-box{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
}
.login-form .box .form-field .errormsg{
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    text-align: center;
    color: red;
}

.login-form .box .form-field .input-box .form-control{
    height: 40px;
    width: 100%;
    padding: 0px 0px 0px 45px;
    color: #444444;
    border: 1px solid #cccccc;
}

.login-form .box .form-field .input-box .form-control::placeholder{
    color: #cccccc;
}

.login-form .box .form-field .input-box span{
    position: absolute;
    left: 0px;
    top: 0px;
    height: 100%;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.login-form .box .form-field .input-box span img{
    width: 22px;
}

.login-form .box .form-field .button-box{
    width: 100%;
    display: flex;
    align-items: center;
}

.login-form .box .form-field .button-box button{
    color: #ffffff;
    font-size: 16px;
    padding: 8px 35px;
    background-color: #F2AD2E;
    transition:box-shadow .5s ease;
    border: none;
    cursor: pointer;
    margin-right: 15px;
}

.login-form .box .form-field .button-box button:hover{
    box-shadow: 0px 0px 10px gray;
}

.login-form .box .form-field .button-box a{
    font-size: 16p x;
    color: #F2AD2E;
}

.login-form .box .form-field{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.login-form .box ssp{
    text-align: center;
    color: #cccccc;
    font-size: 14px;
    margin: 15px 0px;
}

/* @media only screen and (orientation:portrait)
{
    #wrapper { display:none; }
    #warning-message { display:block; color: white;}

    html
    {
        background-color: antiquewhite;
        background-size: cover;
        height: 100%;
    }       
} */

@media(max-width: 500px){
    .login-form .box{
        min-width: 100%;
    }
    .login-form form{
        min-width: 100%;
    }
}